
body{
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.5px;
}

.site-header{
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo-link{
  transition: opacity 0.4s ease;
}

.logo-link:hover{
  opacity: 0.8;
}

.logo-link:active{
  opacity: 0.6;
}

.site-header-actions{
  display: flex;
  align-items: center;
}


.sitenav-list{
  list-style: none;
  display: flex;
}



.sitenav-link{
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  list-style: none;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}


.sitenav-link:hover{
  color: #ff7500;
}


.sitenav-link:active{
  opacity: 0.6;
}

.main-link{
  font-size: 13px;
  line-height: 15px;
  background-color: #ff7700;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

.main-link:hover{
  opacity: 0.8;
}

.main-link:active{
  opacity: 0.6;
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #fff;
}


.hero-content{
  width: 390px;
}



.futures-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}


.orange-line{
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}


.hero-heading{
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}


.hero-img{
  width: 510px;
  height: 510px;
}



.feature-heading{
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}


.features{
  width: 340px;
}


.feature-icon-wrapper{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}



.feature-title{
  font-size: 24px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}



.promo{
  background-color: #252420;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-content{
  width: 440px;
}


.promo-heading{
  font-size: 40px;
  line-height: 48px;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}



.promo-highlight{
  color: #ff7500;
}

.promo-img{
  width: 440px;
  height: 440px;
  object-fit: cover;
}

.site-footer ul{
  background-color: #f8f8f8;
  list-style: none;
}


.footer-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer-site{
  display: flex;
}


.site-footer-divider{
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
}


.bottom-links{
  display: flex;
}


.test-link{
  list-style-type: lower-latin;
  text-decoration: none;
}


.site-footer-links{
  width: 224px;
  line-height: 19px;
}


.site-footer-links a{
  color: #252420;
  text-decoration: none;
}

.site-footer-links a:hover{
  color: #ff7500;
}

.site-footer-links a:focus{
  opacity: 0.6;
}
























/* .parent{
  display: flex;
  flex-wrap: nowrap;
  background-color: lightblue;
}

.child{
  width: 300px;
}

.child-green{
  background-color: lightgreen;
}

.child-gold{
  background-color: gold;
}

.child-orange{
  background-color: orange;
} */
